<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Data for enterprises</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/data.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-black" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-dark" style="color: white;">Engage Cars</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/data.html">Data Analysis</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/bodystyle.html">Body Style</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/safety.html">Car Safety</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/fueltype.html">Fuel Type</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/drivelayout.html">Drive Layout</a>
                    
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom" style="color: white;">
                    <div class="container-fluid">
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active" style="color: white;"><a class="nav-link" href="/" style="color: white;">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="services.html" style="color: white;">Our features</a></li>
        
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">Data Analysis in Automobile Industry</h1>
                    <p>India's Automobile Industry is the 5th largest industry in the world and its share in GDP is 7.1% and in manufacturing GDP is 49%. According to many researchers, India is not realizing its full potential in the given field and if this sector collaborated with IT sector, India can do wonders. The automobile industry is one that faces fierce competition and to thrive in this competitive world innovations are a must.

                        Companies need to regularly upgrade themselves in order to have a competitive edge over others and Big Data provide them with this power to be a step ahead of others.
                        
                        The other key factor that contributes to their success is the efficiency between the different departments of their organization. </p>
                    <h4>These are the applications of Data Analysis in Automobile Industry:-</h4>
                    <p>
                        Supply Chain Management <br> Connected Cars <br> Automobile Financing <br> Predictive Analysis
            
                    </p>
                    <h5>Our website uses cars data to do analyses to help industries grow. So try yourself !</h5>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="styles/data.js"></script>
    </body>
</html>
