<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Drive Layout</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/data.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-black" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-dark" style="color: white;">Engage Cars</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/data.html">Data Analysis</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/bodystyle.html">Body Style</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/safety.html">Car Safety</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/fueltype.html">Fuel Type</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/drivelayout.html">Drive Layout</a>
                    
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom" style="color: white;">
                    <div class="container-fluid">
                        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active" style="color: white;"><a class="nav-link" href="/" style="color: white;">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="services.html" style="color: white;">Our features</a></li>
        
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <iframe title="drivelayout" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=c8071b95-8110-474e-ab47-82789dc9aec7&autoAuth=true&ctid=ff65bb2a-d8a6-4a70-bfb2-79b1a8746349&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
                
        
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="styles/data.js"></script>
    </body>
</html>
