<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Engage Cars</title>
</head>
<body>
    <div class="container">
        <div class="header">
                <style>
                    h2{
                        color:white;
                        text-align:left;
                        font-size: 200%;

                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                </style>
                <h2>Engage Cars </h2>
            <nav></nav>
            <button class="btn" id="btn1" ><a href="index.html">Home</a></button>
            <button class="btn" id="btn2" ><a href="services.html">Services</a></button>
        </div>
        <div class="content">
            <div class="text">
            <h1>Moving Forward<br> <span>even when you don't want to</span></h1>
            <p>Application to demonstrate how the <br> Automotive Industry could harness <br> data to take informed decisions.
            </p>
            <button class="btn3"><a href="services.html">Explore</a></button>
           </div>
        <div class="car">
        <img src="static/car.png" alt="">
        </div>
       </div>
   </div>
</body>
</html>